<md-sidenav-container>
    <md-sidenav #sidenav role="push" opened="false" class="md-sidenav">
        
        <md-toolbar color="primary" class="toolbar-left mat-toolbar-shadow">
            <button md-button class="button-mat-icon" (click)="sidenav.toggle()">
                <md-icon>chevron_left</md-icon>
            </button>
            <span class="span-spacer"></span>
            <span class="span-toolbar" role="title">{{title}}</span>
        </md-toolbar>
        
        <md-card class="rs-md-card">
            <img md-card-image src="assets/img/empresa/logo.png">
            <md-card-header>
                <md-card-title>
                    <div md-card-avatar class="avatar-header-image">
                        Dayves Oliveira
                    </div>
                </md-card-title>
                <md-card-subtitle>
                    <p>{{title}}</p>
                    <p>dayves@rsvarejo.com.br</p>
                    <p>{{empresa.descBreve}}</p>
                    <p>{{empresa.descBreveOrg}}</p>
                    <p>{{empresa.descBreveLoja}}</p>
                </md-card-subtitle>
            </md-card-header>
            <md-card-content class="demo-basic-list"></md-card-content>
        </md-card>
        
        <div class="my-content">
            
            <md-list>
                <h3 md-subheader>Folders</h3>
                <md-list-item *ngFor="let menu of menuItens">
                    <md-icon md-list-icon>folder</md-icon>
                    <p md-line>{{menu.name}}</p>
                </md-list-item>
                <md-divider></md-divider>
                <h3 md-subheader>Notes</h3>
                <md-list-item *ngFor="let note of menuItensConf">
                    <md-icon md-list-icon>note</md-icon>
                    <p md-line>{{note.name}}</p>
                </md-list-item>
            </md-list>
        </div>
    </md-sidenav>
    
    <md-toolbar color="primary" class="toolbar-left mat-toolbar-shadow">
        <button md-button class="button-mat-icon" (click)="sidenav.toggle()">
            <md-icon>menu</md-icon>
        </button>
        <span class="span-spacer"></span>
        <span class="span-toolbar" role="title">{{title}}</span>

        <button md-icon-button [mdMenuTriggerFor]="menu" >
            <md-icon>more_vert</md-icon>
        </button>
        <md-menu #menu="mdMenu">
            <button md-menu-item>
                <md-icon>person_outline</md-icon>
                <span>Alterar Senha</span>
            </button>
            <button md-menu-item>
                <md-icon>loop</md-icon>
                <span>Alterar Filial</span>
            </button>
            <button md-menu-item>
                <md-icon>settings</md-icon>
                <span>Configurações</span>
            </button>
            <hr>
            <button md-menu-item>
                <md-icon>exit_to_app</md-icon>
                <span>Sair</span>
            </button>
        </md-menu>
    </md-toolbar>

    <br>

    <router-outlet></router-outlet>

</md-sidenav-container>

