.mat-primary .button-mat-icon {
    height: 100%;
}
.mat-primary .span-spacer {
    width: 5px;
}

.rs-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}